.box{
   padding: 10px 0px 
}
.boxContent{
    padding: 20px;
    box-sizing: border-box;
    border:1px solid #f0f0f0;
}
.boxContent img {
    width: 100%;
    margin: 0 auto;
    display: block
}
.boxContent p{  
    display:inline-block;
    margin: 10px 0px 0px;
    font-size: 20px;
}
.productPrice{
    float:right
}